rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwnerOrStaff(adminUid) {
      return request.auth != null && (
        request.auth.uid == adminUid ||
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.adminUid == adminUid
      );
    }

    function isAdmin() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/demo_admin_seed {
    	allow read: if true;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      allow read, write: if request.auth != null &&
        resource != null && resource.data.adminUid == request.auth.uid;

      allow read: if request.auth != null && resource.data.role == 'admin';
    }

    match /users/{adminUid}/inventory_items/{document} {
      allow read, write: if isOwnerOrStaff(adminUid);
    }

    match /users/{adminUid}/stock_movements/{document} {
      allow read, write: if isOwnerOrStaff(adminUid);
    }

    match /users/{adminUid}/stock_predictions/{document} {
      allow read, write: if isOwnerOrStaff(adminUid);
    }

    match /users/{adminUid}/categories/{document} {
      allow read: if isOwnerOrStaff(adminUid);
      allow write: if isOwnerOrStaff(adminUid) && isAdmin();
    }

    match /categories/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /inventory_items/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /stock_movements/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /stock_predictions/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    //demo_data

    match /users/demo_admin_seed/demo_categories/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /users/demo_admin_seed/demo_inventory_items/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /users/demo_admin_seed/demo_stock_movements/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /users/demo_admin_seed/demo_stock_predictions/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /users/demo_admin_seed/{collection=**} {
      allow read:if true;
      allow write:if false;

    }
    //demo_end

    match /app_config/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Allow authenticated users to read and write image uploads
    match /images/{document} {
      allow read, write: if request.auth != null;
    }
  }
}
